<!DOCTYPE html>
<html lang="en">

<head>
  <title>Error</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/styles/build/main.css">
</head>

<body class="error-background">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="error-text-large">500</h2>
        <h2 class="error-text">Something Happened On Our Side</h2>
        <br>
        <a class="error-btn" href="/">Return Home</a>
      </div>

    </div>

  </div>
</body>

</html>